@charset "UTF-8";

/* 汎用 */

.flex{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* コンテンツ幅を制御する */
.inner {
  max-width: 900px;
  margin: 0 auto;
}
.more-button:hover {
 background: #29f;
  color: #fff;
}

.section-title{
  font-size: 23px;
}

.top-border{
  background-color: #fff;
  font-size: 18px;
  border:1px solid #000;
  padding: 60px;
}

.margin{
  margin: 50px 0;
}
/* ===== header ===== */

.top-header {
  line-height: 70px;
}

.header-title {
  font-size: 25px;
  margin-left: 30px;
}

.header-nav-link {
  padding: 0 20px;
  display: block;
}

.header-nav-link:hover {
  color: #29f;
}
/* ===== top-mv ===== */
.top-mv {
  background: url(../img/mv.jpg) center / cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-mv-copy {
  font-size: 70px;
  color: red;
  font-weight: bold;
}
/* ===== news ===== */

.top-news {
  padding: 80px 0;
}

.top-news-li {
  display: flex;
}
.more-button {
  border: 2px solid #29f;
  color: #29f;
  background: #ffffff;
  padding: 10px 30px;
  display: inline-block;
  transition: 0.4s;
}

/* ===== top-interview ===== */

.top-interview {
  background: url(../img/interview.jpg) center / cover;
  padding: 80px 0;
}

.interview-contents {
  background: #fffd;
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid #000;
  padding: 30px;
  text-align: center;
}

.top-interview .section-title {
  margin-bottom: 30px;
}

.interview-text {
  margin-bottom: 30px;
}
/* ===== top-business ===== */

.top-business {
  padding: 80px 0;
}

.top-business .section-title {
  margin-bottom: 50px;
}

.business-item {
  width: 30%;
  background: #eee;
  text-align: center;
  box-shadow: 5px 5px 5px #0006;
  /* box-shadow: 横px 縦px ぼかしpx 色; */
  padding: 30px;
  box-sizing: border-box;
}

.business-image {
  width: 100px;
}
.company,.ricrute-info{
  width: 50%;
  height: 300px;
}

.company{
  background:url(../img/company.jpg)center/cover;
}

.ricrute-info{
  background: url(../img/recruit.jpg)center/cover;
}
.company .more-button{
margin-top: 252px;
}
.ricrute-info .more-button{
margin-top: 252px;
}
 /* acces */
.access .section-title{
  text-align: center;
  padding: 40px;
}
.access{
  background-color: rgba(128, 128, 128, 0.116);
}

.access-table{
  margin-left: 40px;
}

.head{
  padding-right: 10px;
}
.footer img{
  width: 100px;
  display: block;
  margin: 40px auto;
}

.footer-logo{
  text-align: center;
  margin: 40px;
}
/* interview-html */

.top-ceo{
  width: 30%;
 margin: 50px;

}

.ceo-text{
  width: 50%;
  margin: 50px;
}


.ceo-text2 h3{
  font-size: 23px;
  font-weight: bolder;
}

.ceo-name{
  align-content: flex-start;
  font-size: 23px;
  font-weight: bolder;
}

.ceo-text2{
  width: 50%;

}

.ceo-img{
  width: 30%;
}

.ceo{
  background-color: #fff;
  border: 1px solid black;
  padding: 30px;
}
/* recruit-html */

.catch-copy{
  border-bottom: 1px solid black;
}

.catch-copy-text{
  width: 45%;
}
.catch-copy-img{
  width: 50%;
}
/* member */
.member{
  background-color: gainsboro

}
.member-img{
  width: 20%;
  margin-bottom: 15px;
}

.recruit-text{
  width: 80%;
  margin: 10px auto;
}

.recruit-name{
  text-align: center;
  padding: 10px;
}

.recruit-content{
  width: 70%;
  background-color: #fff;
}
/* ----form---- */
.form-table{
  margin: 50px auto;
}

.form-table th{
  background-color: rgb(223, 223, 223);
  padding-right: 20px;
  border-bottom: 4px solid white;
  border-right: 35px solid white;
}
.form-last{
  margin-top: 0;
}

.decorated{
  background-color:rgba(52, 98, 247, 0.637);
  color:white;
  padding: 3px 18px;
  display: block;
  margin: 0 auto;
}

.decorated:hover{
background-color: rgba(255, 174, 0, 0.185);
color: black;
}
/* ---company--- */

.company-content{
  background-color: gainsboro;
  border-bottom: 3px solid white;
  text-align: center;
  padding: 5px 100px 8px 5px;
  margin: 10px;
}

.company-content-info{
  margin: 25px 0;
}
.company-inner{
 width: 500px;
 margin: 50px auto;
}

